body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}


.ui.secondary.pointing.menu{
  border-bottom: 1px solid rgba(0,0,0,.5);
  justify-content: space-evenly;
  display: flex;
  margin: 0;
  padding: 9px;
  font-size: 15px;
}

.Profile{
  display: flex;
  flex-direction: column;
  position: relative;
}

.GoalForm{
  margin:auto;
  padding: 10px;
  text-align: center;
  flex:1;
  justify-content: space-evenly;
  position: relative;
}

.GoalContainer{
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex:1;
  position: relative;
}

.Goal{
  margin: 0;
  padding: 10px;
  width: 100%;
  flex-grow:1
}

.p-card-body{
  background-color: whitesmoke;
  margin: auto;
}

.Goalbtn{
  float: right;
}

.MilestoneForm{
  margin: 0;
  padding: 20px;
  text-align: center;
}



.GoalForm, span{
  text-align: center;
}

.GoalForm, img{
  max-width: 100%;
  max-height:500px;
}

.milestone{
  margin: 0;
  padding: 10px
}

.Milestonename{
  text-align: center;
  padding: 10px;
}
.mile{
  padding: 10px;
}

.milebuttons{
  margin: 0;
  float: right;
}

#deletebtn{
  float: right;
}

.p-col-12{
  padding: 10px;
  justify-content: space-evenly;
}